---
# =========================================================================================================================================================
# ACI SERVER LEAF CONFIGURATION
# =========================================================================================================================================================

fabric: "{{fabric_perimeter}}"
apic_host: "{{apics[0].oob}}"

{% raw %}
leaf : "{{ leaf }}"


# ============================================================================================================================================================
# INTERFACES CONFIGURATION
# ============================================================================================================================================================

{% for intf in list_interfaces %}

eth{{ nodeA }}_1_{{ intf }}:
  automation: "on"
  description: ""
  admin_state: "up"  
  type: "switch_port"
{% endfor%}
{% endraw %}